repo_url = 'https://github.com/slang800/jGrowl'
repo_name = 'Thalamus.coffee'

!!!5
html
	head
		meta(charset="utf-8")
		title #{repo_name}

		link(rel="stylesheet", href="gh-pages/stylesheets/styles.css")
		link(rel="stylesheet", href="gh-pages/stylesheets/pygment_trac.css")

		style(type="text/css", media="screen").
			#editor { 
				height: 100px;
				width: 100%;
				position: relative;
			}

		script(src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js", type="text/javascript", charset="utf-8")
	body
		header
			h1 #{repo_name}
			p An extendable Javascript notification system built with Backbone.js & CoffeeScript
		#banner
			span#logo
			a.button.fork(href="#{repo_url}")
				strong Fork On GitHub
			.downloads
				span Downloads:
				ul
					li
						a.button(href='#{repo_url}/zipball/master') ZIP
					li
						a.button(href='#{repo_url}/tarball/master') TAR

		.wrapper
			nav
				ul
			section
				:ghm(github_project='2062/jade')
					#Intro
					Thalamus is a rewrite of the jGrowl notification system, that makes notifications even easier easier to manage. Leapfrogging off of the structure and meathods provided by Backbone.js and Underscore, Thalamus lets you control notifications with a standard Backbone collection.

					This means you can:

					- search through open notifications
					- modify notifications, even after they have been sent
					- close notifications with logic to tell when they become irrelevent (not just timeouts)
					- apply classes to notifications at any time, for styling
					- bind functions to the events the notification has

					...all through a standard, well maintained framework: Backbone.js. 

					#Examples

				#editor.
					function foo() {
						alert('Thalamus');
					}
					foo();
				script.
					var editor = ace.edit("editor");
					editor.setTheme("ace/theme/monokai");
					editor.getSession().setMode("ace/mode/javascript");

				button(onclick="(function(){eval(editor.getValue());return true;})();") Run Example Code

				:ghm(github_project='2062/jade')
					caption
					#Docs
					This page provides info on the options, functions, and events that Thalamus supports by default. If you would like to learn how to extend Thalamus and add new functionality, (like notifications designed specificly for your project) you should look at the [Backbone.js Docs](http://documentcloud.github.com/backbone/)
							
			footer

				p
					span.small
						| Hosted on GitHub Pages — Theme inspired by 
						a(href='http://twitter.com/#!/michigangraham') mattgraham


		//switch to google cdn when published
		script(src="lib/jquery-1.7.2.js") 
		script(src="lib/underscore-1.4.2.js")
		script(src="lib/backbone-0.9.1.js")
		script(src="gh-pages/javascripts/main.js")
		//script(src="lib/jgrowl.js")

		// if lt IE 9
			script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
